:host {
  padding: 16px;
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: #01352C;
  padding: 16px;
  margin-bottom: 24px;

  a {
      color: #20C598;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
          color: #fff;
      }

      &:not(:last-child)::after {
          content: '|';
          margin: 0 8px;
      }
  }
}
